<!-- <div class="full gradient">
    <div class="home ">
        <div class="name">
            Hello, I am <br>Sri Charan Simha Velpur<br>
            <span style="font-size:0.5em;">I'm a Full Stack Web Developer.</span>
            <p class="desc">
    3 years of full-time Professional work experience in <span style="font-weight: bold;">Designing - Developing - Deploying</span> modern Web Apps.<br>
    Matured skills in Agile software development ensuring high quality of Product centric Apps with Customer centric delivery.  <br>
    Awarded for proven ability and Excellence in Performing with Passion, Achieving as a Team and Desire to Dream. 
            </p>
        </div>
        <div class="image">
            <img class="portrait" style="width:615px;" src="../../assets/images/portrait.png">
            <span class="logos">
            <img style="position:absolute;left:125px;top:225px;width:45px;;background: rgba(255, 255, 255, 0.904);padding:19px 10px;border-radius: 50%;" src="../../assets/images/logos/node.png">
            <img style="position:absolute;left:125px;top:125px;width:60px;" src="../../assets/images/logos/react.png">
            <img style="position:absolute;left:00px;top:125px;width:55px;" src="../../assets/images/logos/css.png">
            <img style="position:absolute;left:-15px;top:0px;width:90px;" src="../../assets/images/logos/html.png">
            <img style="position:absolute;left:125px;top:25px;width:60px;" src="../../assets/images/logos/angular.png">
            <img style="position:absolute;left:530px;top:215px;width:70px;" src="../../assets/images/logos/docker.png">
            <img style="position:absolute;left:625px;top:215px;width:75px;" src="../../assets/images/logos/mysql.png">
            <img style="position:absolute;left:525px;top:100px;width:60px;" src="../../assets/images/logos/jenkins.png">
            <img style="position:absolute;left:735px;top:10px;width:60px;" src="../../assets/images/logos/jira.png">
            <img style="position:absolute;left:00px;top:225px;width:60px;" src="../../assets/images/logos/js.png">
            <img style="position:absolute;left:00px;top:325px;width:60px;" src="../../assets/images/logos/typescript.png">
            <img style="position:absolute;left:735px;top:120px;width:55px;" src="../../assets/images/logos/git.png">
            <img style="position:absolute;left:645px;top:110px;width:45px;" src="../../assets/images/logos/java.png">
            <img style="position:absolute;left:635px;top:15px;width:60px;" src="../../assets/images/logos/spring.png">
            <img style="position:absolute;left:500px;top:-0px;width:100px;" src="../../assets/images/logos/aws.png">
            <img style="position:absolute;left:735px;top:220px;width:60px;" src="../../assets/images/logos/mongo.png">
        </span>
        </div>
    
    </div>
</div> -->

<div class="full purple-gradient">
    <div class="home ">
        <div class="name">
            Hello, I am <br>Sri Charan Simha Velpur<br>
            <span style="font-size:0.5em;">I'm a Full Stack Web Developer.</span>
            <p class="desc">
    3 years of full-time Professional work experience in <span style="font-weight: bold;">Designing - Developing - Deploying</span> modern Web Apps.<br>
    Matured skills in Agile software development ensuring high quality of Product centric Apps with Customer centric delivery.  <br>
    Awarded for proven ability and Excellence in Performing with Passion, Achieving as a Team and Desire to Dream. 
            </p>
        </div>
        <div class="image">
            <img class="portrait" style="width:615px;" src="../../assets/images/portrait.png">
            <span class="logos">
            <img style="position:absolute;left:125px;top:225px;width:45px;;background: rgba(255, 255, 255, 0.904);padding:19px 10px;border-radius: 50%;" src="../../assets/images/logos/node.png">
            <img style="position:absolute;left:125px;top:125px;width:60px;" src="../../assets/images/logos/react.png">
            <img style="position:absolute;left:00px;top:125px;width:55px;" src="../../assets/images/logos/css.png">
            <img style="position:absolute;left:-15px;top:0px;width:90px;" src="../../assets/images/logos/html.png">
            <img style="position:absolute;left:125px;top:25px;width:60px;" src="../../assets/images/logos/angular.png">
            <img style="position:absolute;left:530px;top:215px;width:70px;" src="../../assets/images/logos/docker.png">
            <img style="position:absolute;left:625px;top:215px;width:75px;" src="../../assets/images/logos/mysql.png">
            <img style="position:absolute;left:525px;top:100px;width:60px;" src="../../assets/images/logos/jenkins.png">
            <img style="position:absolute;left:735px;top:10px;width:60px;" src="../../assets/images/logos/jira.png">
            <img style="position:absolute;left:00px;top:225px;width:60px;" src="../../assets/images/logos/js.png">
            <img style="position:absolute;left:00px;top:325px;width:60px;" src="../../assets/images/logos/typescript.png">
            <img style="position:absolute;left:735px;top:120px;width:55px;" src="../../assets/images/logos/git.png">
            <img style="position:absolute;left:645px;top:110px;width:45px;" src="../../assets/images/logos/java.png">
            <img style="position:absolute;left:635px;top:15px;width:60px;" src="../../assets/images/logos/spring.png">
            <img style="position:absolute;left:500px;top:-0px;width:100px;" src="../../assets/images/logos/aws.png">
            <img style="position:absolute;left:735px;top:220px;width:60px;" src="../../assets/images/logos/mongo.png">
        </span>
        </div>
    
    </div>
</div>

<div class="full no-gradient">

</div>

